
			<div class="c-gallery">
				<ul>
					<li class="anim anim--up">
						<a href=<%= require("./img/photos/monika.jpg") %> class="js-image">
							<img src=<%= require("./img/photos/monika.jpg") %> alt="monika" width="475" height="475">
						</a>
					</li>
					
					<li class="anim anim--delay1 anim--up">
						<a href=<%= require("./img/photos/monika.jpg") %> class="js-image">
							<img src=<%= require("./img/photos/monika.jpg") %> alt="monika" width="475" height="475">
						</a>
					</li>
					
					<li class="anim anim--up">
						<a href=<%= require("./img/photos/monika.jpg") %> class="js-image">
							<img src=<%= require("./img/photos/monika.jpg") %> alt="monika" width="475" height="475">
						</a>
					</li>
					
					<li class="anim anim--delay1 anim--up">
						<a href=<%= require("./img/photos/monika.jpg") %> class="js-image">
							<img src=<%= require("./img/photos/monika.jpg") %> alt="monika" width="475" height="475">
						</a>
					</li>
					
					<li class="anim anim--up">
						<a href=<%= require("./img/photos/monika.jpg") %> class="js-image">
							<img src=<%= require("./img/photos/monika.jpg") %> alt="monika" width="475" height="475">
						</a>
					</li>
					
					<li class="anim anim--delay1 anim--up">
						<a href=<%= require("./img/photos/monika.jpg") %> class="js-image">
							<img src=<%= require("./img/photos/monika.jpg") %> alt="monika" width="475" height="475">
						</a>
					</li>
				</ul>
			</div>
